<div>Teachable Machine Image Model - p5.js and ml5.js</div>
<div id="canvas"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
<script type="text/javascript">
  // Classifier Variable
  let classifier;
  // Model URL
  // let imageModelURL = '../model/image/20220216_faceAngle_3/epoch10000_learningRate0_00001/';
  // let imageModelURL = '../model/image/20220219/epoch1000_learningRate0_0001/';
  let imageModelURL = '../model/image/20220228/';
  
  // Video
  let video;
  let flippedVideo;
  // To store the classification
  let label = "";

  // Load the model first
  async function preload() {
    classifier = ml5.imageClassifier(imageModelURL + 'model.json');
  }

  function setup() {
    createCanvas(400, 340);
    // Create the video
    // video = createCapture(VIDEO);
    video = createVideo('../img/GEKI_Dance_Face.mp4');
    // video = createVideo('../img/2022-02-16.mov')
    // video = createVideo('../img/20220216_faceAngle/lr0-1.mp4')
    
    video.elt.muted = true;
    // video.size(320, 240);
    video.hide();
    video.play();

    // flippedVideo = ml5.flipImage(video);
    // Start classifying
    classifyVideo();
  }

  // function draw() {
  //   background(0);
  //   // Draw the video
  //   image(flippedVideo, 0, 0);
  //   // image(video, 0, 0, 320, 240);

  //   // Draw the label
  //   fill(255);
  //   textSize(16);
  //   textAlign(CENTER);
  //   text(label, width / 2, height - 4);
  // }

  // Get a prediction for the current video frame
  function classifyVideo() {
    // flippedVideo = ml5.flipImage(video)
    // flippedVideo = video;
    // classifier.classify(flippedVideo, gotResult);
    classifier.classify(video, gotResult);
    // flippedVideo.remove();

  }

  // When we get a result
  function gotResult(error, results) {
    // If there is an error
    if (error) {
      console.error(error);
      classifyVideo();
      // return;
    }
    // The results are in an array ordered by confidence.
    // console.log(results);
    label = results[0].label;

    background(0);
    // Draw the video
    // image(flippedVideo, 0, 0, 320, 240);
    image(video, 0, 0, 400, 240);

    // Draw the label
    fill(255);
    textSize(16);
    textAlign(CENTER);
    text(label, width / 2, 260);

    text('right : ' + results.filter(i => i.label === 'right')[0].confidence, width / 2, 280);
    text('center : ' + results.filter(i => i.label === 'center')[0].confidence, width / 2, 300);
    text('left : ' + results.filter(i => i.label === 'left')[0].confidence, width / 2, 320);

    // Classifiy again!
    classifyVideo();
  }
</script>
